<div class="container-fluid">
    <!--导航栏nav-->
    <div class="menu row">
        <div class="col-md-6 col-md-offset-2 nav">
            <ul class="clearfix x_nav_list">
                <li><a href="#" class="current">首页</a></li>
                <li><a href="#">二手</a></li>
                <li><a href="#schoolStore">校园</a></li>
                <li><a href="#">书店</a></li>
                <li><a href="">在线阅读</a></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!--主题界面-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="school_corner">
                <h2>扫一扫关注官方账号</h2>
                <a href="#">
                    <div id="erweima">
                        <img src="images/lunbo/erweima.jpg" alt=""/>
                    </div>
                </a>
            </div>
        </div>
        <!--滑动图片-->
        <div class="col-md-6" >
            <div id="carousel-example-generic" class="carousel slide wrapper index_lunbo" data-ride="carousel">
                <!--图片滑动下面的按钮-->
                <ol class="carousel-indicators">
                    <!--图片滑动下面的按钮-->
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!--三幅图片-->
                    <div class="item active center">
                        <div style="margin: auto">
                            <a href="#" target="_blank">
                                <img src="images/lunbo/01.jpg" alt="猜猜我是谁">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            1.jpg
                        </div>
                    </div>
                    <div class="item center">
                        <div style="margin: auto">
                            <a href="#" target="_blank">
                                <img src="images/lunbo/02.jpg" alt="...">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            2.jpg
                        </div>
                    </div>
                    <div class="item center" >
                        <div style="margin: auto">
                            <a href="#" target="_blank">
                                <img src="images/lunbo/03.jpg" alt="...">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            3.jpg
                        </div>
                    </div>
                    <div class="item center" >
                        <div style="margin: auto">
                            <a href="#" target="_blank">
                                <img src="images/lunbo/04.jpg" alt="...">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            4.jpg
                        </div>
                    </div>
                </div>
                <!--，控制图片的滑动，左和右-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="school_corner">
                <h2>校园角</h2>
                <a href="#">
                    <div id="school_corner_img">
                        <img src="images/lunbo/biaobai.jpg" >
                    </div>
                    <div id="school_corner_content">
                        <p> We are all looking at the stars.</p>
                        <p>南京大学大四学长向大二学妹表白</p>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>