<link rel="stylesheet" href="../css/pc/right_nav.css"/>
<!--页面右边固定导航-->
<div class="x_right">
    <a href="/myself">
        <div class="x_right_list" id="person_center">
            <i class="glyphicon glyphicon-user"></i>
            账号
            <div class="x_hidden">
                个人主页
            </div>
        </div>
    </a>
    <a href="#">
        <div class="x_right_list">
                <i class="glyphicon glyphicon-heart"></i>
                交友
                <div class="x_hidden">我的社交</div>
        </div>
    </a>
    <a href="/myself/shopcar">
        <div class="x_right_list" id="my_cart">
            <i class="glyphicon glyphicon-shopping-cart"></i>
           购物
            <div class="x_hidden">我的购物车</div>
        </div>
    </a>
    <a href="#">
        <div class="x_right_list">
            <i class="glyphicon glyphicon-credit-card"></i>
            券
            <div class="x_hidden">我的奖券</div>
        </div>
    </a>
    <div class="x_back_top x_right_list" id="x_right_up">
        <a href="#top">
            <i class="glyphicon glyphicon-arrow-up"></i>
            <div class="x_hidden last_hidden">回到顶部</div>
        </a>
    </div>
</div>