<link rel="stylesheet" href="css/pc/search.css"/>
<div class="container-fluid">
    <div class="x_search row">
        <!--<div class="x_logo col-md-2 col-md-offset-1 logoimg" title="数来熟往"></div>-->
        <div class=" col-md-8" style="padding-left: 4em">
            <div class="x_search_input">
                <div id="x_search_input_l">
                    <div id="book" > <span>书籍</span> <i  class="glyphicon glyphicon-chevron-down"></i></div>
                    <ul class="x_search_ul" id="x_search_ul">
                        <li id="ser_book">书籍</li>
                        <li id="ser_goods">物品</li>
                        <li id="ser_store">商店</li>
                    </ul>
                </div>
                <input type="text" id="index_search"  autocomplete="off" name="search"/>
                <button id="btn_search" type="submit" class="glyphicon glyphicon-search"></button>
            </div>
        </div>

        <div class="col-md-1">
            <span id="publication">
                <i class="icon-edit"></i>
                 发布信息
            </span>
        </div>
    </div>
</div>