<div class="col-md-2 col-xs-2 store_left">
    <dl class="menu no_extra">
        <dt class="menu_title">
            <i class="fa fa-optin-monster"></i><span class="menu-text">新手起步</span></dt>
        <dd class="menu_item"><a href="./newguide">新手引导</a></dd>
        <dd class="menu_item"><a href="./newhelp">帮助中心</a></dd>
        <dd class="menu_item"><a href="./newhandbook">电商手册</a></dd>
    </dl>
    <dl class="menu">
        <dt class="menu_title">
            <i class="fa fa-database"></i><span class="menu-text">商店管理</span>	</dt>
        <dd class="menu_item"><a href="./managechange">更换主题</a></dd>
        <dd class="menu_item"><a href="./managelayout">布局变换</a></dd>
        <dd class="menu_item"><a href="./managetpl">经典模板</a></dd>
    </dl>
    <dl class="menu">
        <dt class="menu_title">
            <i class="fa fa-group fa-lg	"></i><span class="menu-text">商品管理</span></dt>
        <dd class="menu_item"><a href="./addgoods">添加商品</a></dd>
        <dd class="menu_item"><a href="./addgoodskind">添加商品类别</a></dd>
        <dd class="menu_item"><a href="./addgoodslist">添加商品列表</a></dd>
    </dl>
    <dl class="menu">
        <dt class="menu_title">
            <i class="fa fa-bar-chart"></i><span class="menu-text">数据报表</span></dt>
        <dd class="menu_item"><a href="./datacount">订单统计</a></dd>
        <dd class="menu_item"><a href="./datadetail">商品销售明细</a></dd>
    </dl>
</div>