
    <div class="panel-group  col-md-2 col-md-offset-1" id="accordion" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <b class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">我的交易</a>
                </b>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">我的订单</a></li>
                    <li class="list-group-item"><a href="#">我的发布</a></li>
                    <li class="list-group-item"> <a href="#">申请退货</a></li>
                    <li class="list-group-item"><a href="#">收货地址</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <b class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">我的关系</a>
                </b>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">我的好友</a></li>
                    <li class="list-group-item"><a href="#">我的圈子</a></li>
                    <li class="list-group-item"><a href="#">关注中心</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">我的资产</a>
                </b>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">我的金币</a></li>
                    <li class="list-group-item"><a href="#">我的等级</a></li>
                    <li class="list-group-item"><a href="/store">我的商店</a></li>
                    <li class="list-group-item"><a href="#">银行卡</a></li>
                    <li class="list-group-item"><a href="#">卡券管理</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <b class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">我的账户</a>
                </b>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/myself/detail">个人资料</a></li>
                    <li class="list-group-item"><a href="#">修改登录密码</a></li>
                    <li class="list-group-item"><a href="#">我的收藏</a></li>
                    <li class="list-group-item"><a href="#">我的足迹</a></li>
                </ul>
            </div>
        </div>
    </div>


<script type="text/javascript">
    $(function () { $('#collapseOne').collapse('show')});
    $(function () { $('#collapseTwo').collapse('show')});
    $(function () { $('#collapseThree').collapse('show')});
    $(function () { $('#collapseFour').collapse('show')});

</script>
