
<link href="../fontAwesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
<style>

.hmain{
    margin-top: -1em;
}
        .index{
            color:#777;
        }
        .index:hover{
            color:#ED7612;
        }
        .breadcrumb{
            text-align: left;
            background-color: #f5f6f8;
        }
        .breadcrumb > li + li:before {
            color:#333;
            content: ">\00a0";
        }
        .panel{
           margin-top: -1em;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 1px 1px 1px 1px #ccc;
            line-height: 1.5em;
        }

        label{
            font-weight: 500;
            color: #666;
        }
      .person-photo{
          width:82px;
          height:82px;
          background: url(../images/img_h/tx0.jpg) no-repeat;
          border-radius: 50%;
      }
        .person-photo span {
            display:none;
            text-decoration:none;
            cursor:pointer;
        }
        .person-photo:hover span {
            display:block;
            width: 1.6em;
            height: 1.6em;
            border-radius: 50%;
            position: relative;
            top: 4em;
            margin: auto;
            text-align: center;
            color:#FFFFFF;
            background:grey;
            filter:alpha(opacity=60);
            -moz-opacity:0.5;
            opacity: 0.8;
        }

        #progressbar{
            width: 10em;
            height: 1em;
            color:red;

        }

        .star{
            font-size: 16px;
            font-weight: 900;
            line-height: 14px;
            vertical-align: middle;
            margin-right: 0.5rem;
            color: #ED7612;
        }
        #check{
            position: relative;
            left:-1em;
        }
        .month{
            position: relative;
            left: -1em;
        }
        .day{
            position: relative;
            left: -2em;
        }
        .hy{
            width: 1em;
            position: relative;
            top: 0.5em;
            left: -1.5em;
        }
        .hm{
            width: 1em;
            position: relative;
            top: 0.5em;
            left: -2.5em;
        }
        .hd{
            width: 1em;
            position: relative;
            top: 0.5em;
            left: -3.5em;
        }
        .icon-caret-down{
            position: relative;
            top:-1.3em;
            left: 2.5em;
            font-size: 16px;
            color:#999;
        }
        .icon-caret-down:hover{
            outline: hidden;
            color:#ccc;
        }

        .htexty,.htextm,.htextd{

            border: solid 1px #ccc;
            border-radius: 4px;
            margin: auto;
        }
        #texty,#textm,#textd{
            position: relative;
            top:-0.1em;
            left: -0.5em;
            width:5.5em;
            font-size: 14px;
            border:hidden;
        }
        #texty:focus,#textm:focus,#textd:focus{
            outline: none;
        }

        #text1y,#text1m,#text1d{
            position: absolute;
            z-index:1001;
            background-color:#fff ;
            width: 7.45em;
            height: 10em;
            border: solid 1px #ccc;
            border-top: none;
            margin: auto;
            display: none;
            overflow: hidden;
            overflow-y: scroll;
        }
        #text1y ul li,#text1m ul li,#text1d ul li{
            position: relative;
            left: -2.5em;
            font-size: 14px;
            list-style: none;
            cursor: pointer;

        }
        #text1y ul li:hover,#text1m ul li:hover,#text1d ul li:hover{
            background-color: #ED7612;

        }

        #btntel,#btnemail,.hsub{
            width:8em;
            color:#fff;
            font-weight: 900;
        }
        #btntel:focus,#btnemail:focus,.hsub:focus{
            outline:none;
        }
        #mobileyz,.yyz{
            position: relative;
            top: 0.5em;
        }
        .yyz{
            color: #999;
        }
        .alter{
            position: relative;
            left: 2em;
            top: 0.5em;
        }
        .alter:hover{
           text-decoration: none;
        }
        #s_county{
            position: relative;
            top: -1.5em;
        }
        #address{
            position: relative;
            top: -0.5em;
        }
[type="reset"]:focus{
    outline:0;
}

    </style>

<div class="row col-md-12 hmain">

        <!--header导航-->
        <div class="row">
            <ol class="breadcrumb">
                <li><strong style="color:#ED7612">|</strong>&nbsp;&nbsp;&nbsp;<a href="#" class="index"><small>我的书来熟往</small></a></li>
                <li class="active"><small>我的资料</small></li>
            </ol>
            <div id="success-notice" class="success-notice hidden">
                <p>"恭喜你完成“资料补全”任务，获得"
                <span class="fc">100</span>"金币"</p>
            </div>
        </div>

        <!--主体-->

            <div class="row panel col-md-12">
                <div class="panel-body  ">
                    <div class="col-md-offset-1 col-md-2 person-photo">
                        <span><i class="icon-edit" id="eidt"></i></span>
                    </div>
                    <div class="col-md-6" style=" position: relative;top:1em;left: 1.5em;text-align: left;">
                        <p><span><label>登录名:</label><strong id="uname" style=" position: relative;left:0.5em"><%=username%></strong></span></p>
                        <div class="row  col-md-12" style=" display: flex;flex-direction: row;">
                             <label>资料完成度：</label>
                            <div id="progressbar" style=" position: relative;top:0.2em"></div>
                            <div style=" position: relative;left:0.5em">20%</div>
                        </div>

                    </div>
                    <br> <br> <br><br>
                    <hr>
                    <form class="form-horizontal" id="subMyDetailMy">
                        <!--登录名-->
                        <div class="form-group">
                                <label for="inputuname" class="col-md-2 control-label"><strong class="star">*</strong>姓名：</label>
                                <div class="col-md-4">
                                    <input type="username" maxlength="20" name="nickname" class="form-control" id="inputuname" placeholder="昵称/真实姓名" required="required">
                                    <span class="ui-tooltip alert-warning hide"><span>4-20个字符，可由中英文、数字组成</span></span>
                                </div>
                            </div>

                        <!--性别-->
                        <div class="form-group">
                                <label for="check" class=" col-md-2 control-label"><strong class="star">*</strong>性别：</label>
                                <div class="col-md-3" id="check">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios0"
                                               value="1" checked>&nbsp; 男
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios1"
                                               value="0">&nbsp; 女
                                    </label>
                                </div>
                            </div>

                        <!--出生日期-->
                        <div class="form-group">
                                <label  class=" col-sm-2 control-label"><strong class="star">*</strong>出生日期：</label>
                                <div class="col-sm-2">
                                    <div class="year" id="year">
                                        <div class="htexty form-control">
                                            <input type="text" name="Year" id="texty"  placeholder="请选择">
                                            <i class="icon-caret-down" id="hdowny"></i>
                                        </div>
                                        <div id="text1y">
                                            <ul>
                                                <li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li><li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li><li>1993</li><li>1992</li><li>1991</li><li>1990</li>
                                                <li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li><li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974 </li><li>1973</li><li>1972</li><li>1971</li><li>1970</li><li>1969</li><li>1968</li><li>1967</li><li>1966</li><li>1965</li><li>1964</li><li>1963</li><li>1962</li><li>1961</li><li>1960</li>
                                                <li>1959</li><li>1958</li><li>1957</li><li>1956</li><li>1955</li><li>1954</li><li>1953</li><li>1952</li><li>1951</li><li>1950</li><li>1949</li><li>1948</li><li>1947</li><li>1946</li><li>1945</li><li>1944 </li><li>1943</li><li>1942</li><li>1941</li><li>1940</li><li>1939</li><li>1938</li><li>1937</li><li>1936</li><li>1935</li><li>1934</li><li>1933</li><li>1932</li><li>1931</li><li>1930</li>
                                                <li>1929</li><li>1928</li><li>1927</li><li>1926</li><li>1925</li><li>1924</li><li>1923</li><li>1922</li><li>1921</li><li>1920</li><li>1919</li><li>1918</li><li>1917</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <label  for="year" class="col-sm-1 hy">年</label>

                                <div class="col-sm-2" >
                                    <div class="month">
                                        <div class="htextm form-control">
                                            <input type="text" name="Month" id="textm"  placeholder="请选择">
                                            <i class="icon-caret-down" id="hdownm"></i>
                                        </div>
                                        <div id="text1m">
                                            <ul>
                                                <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <label class="col-sm-1 hm">月</label>


                                <div class="col-sm-2">
                                    <div class="day">
                                        <div class="htextd form-control">
                                            <input type="text" name="Day" id="textd"  placeholder="请选择">
                                            <i class="icon-caret-down" id="hdownd"></i>
                                        </div>
                                        <div id="text1d">
                                            <ul>
                                                <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
                                                <li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li><li>19</li><li>20</li><li>21</li><li>22</li>
                                                <li>23</li><li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li><li>30</li><li>31</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <label class="col-sm-1 hd">日</label>
                            </div>

                        <!--手机号验证-->
                        <div class="form-group">
                                <label class="col-md-2 control-label"><strong class="star">*</strong>手机号：</label>
                                <div class="input-group">
                                    <div class="col-md-8">

                                        <span style="white-space: nowrap"><strong id="mobileyz">184*****045</strong>&nbsp;<small class="yyz">(已验证)</small></span>
                                        <input type="texttel" class="form-control hidden" id="inputTel" disabled="disabled">
                                    </div>
                                    <a href="#" class="alter">修改</a>
                                   <a href="#"><button type="button" class="btn btn-warning hidden" id="btntel">验证手机</button></a>
                                </div>
                        </div>

                        <!--所在地地址-->
                        <!--省、直辖市/市/区三级联动-->
                        <div class="form-group">
                            <label  class=" col-sm-2 control-label"><strong class="star">*</strong>所在地址：</label>
                            <div class="col-sm-3">
                                <select id="s_province"name="s_province" class="form-control"></select> </div> 
                                <div class="col-sm-3 ">
                                <select id="s_city" name="s_city" class="form-control" ></select> </div>
                            <div class="col-sm-3"> 
                                <select id="s_county" name="s_county" class="form-control"></select>
                            </div>
                        </div>

                        <!--详细地址-->
                        <div class="form-group">
                            <div class="col-md-offset-2 col-sm-6 ">
                               <input type="address" name="address" id="address" class="form-control" placeholder="详细地址" required="required"/>
                            </div>
                        </div>

                        <!--邮箱验证-->
                        <div class="form-group">
                            <label class="col-md-2 control-label"><strong class="star">*</strong>邮箱：</label>
                            <div class="input-group">
                                <div class="col-md-8">

                                    <span style="white-space: nowrap"class="hidden"><strong id="email" ></strong>&nbsp;<small class="yyz">(已验证)</small></span>
                                    <input type="email" class="form-control" name="email" id="inputEmail" disabled="disabled">
                                </div>
                                <a href="#" class="alter hidden">修改</a>
                                <a href="#"><button type="button" class="btn btn-warning" id="btnemail">验证邮箱</button></a>
                            </div>
                        </div>

                        <div class="form-group">
                            <hr style="position: relative;top: 1em">
                        </div>

                        <!--提交、重置-->
                        <div class="form-group" style="margin:auto;height:4em;">
                            <div class="col-md-offset-4 col-md-5">
                                <button type="button" id="subMyDetailT" class=" btn btn-warning hsub">提  交</button>
                                <button type="reset" class="btn btn-link" id="hre">重置</button>
                            </div>
                        </div>

                    </form>
                </div>


        </div>

    </div>

<script src="../jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="../js/store/area.js" type="text/javascript"></script>

<script type="text/javascript">

$(function() {
//    进度条
    $("#progressbar").progressbar({
        value: 20
    });
//下拉框
    $('#hdowny').click(function(){
        var h = $('#text1y');
        if(h.css('display')=='none'){
            h.css('display','block');
            h.style.zIndex=1001;
        }else{
            h.css('display','none');
        }
    });

    $('#text1y li').click(function(){
        $('#texty').val($(this).html());
        $('#text1y').css('display','none');
    });

    $('#hdownm').click(function(){
        var h = $('#text1m');
        if(h.css('display')=='none'){
            h.css('display','block');
            h.style.zIndex(1);
        }else{
            h.css('display','none');
        }
    });

    $('#text1m li').click(function(){
        $('#textm').val($(this).html());
        $('#text1m').css('display','none');
    });

    $('#hdownd').click(function(){
        var h = $('#text1d');
        if(h.css('display')=='none'){
            h.css('display','block');
        }else{
            h.css('display','none');
        }
    });

    $('#text1d li').click(function(){
        $('#textd').val($(this).html());
        $('#text1d').css('display','none');
    });

//三级联动
    _init_area();
});

//提交个人信息
$('#subMyDetailT').click(function () {
//    alert('------')
    $.ajax({
        type:'post',
        url:'http://localhost:3000/myself/mydetail',
        data:$('#subMyDetailMy').serialize(),
        timeout:3000,
        async: false,//设置为同步
        success:function(data){
            alert('保存成功');
            alert(data);
        },
        error:function(){
            alert('error-----');
        }
    })
})


</script>
