
<div class="x_footer">
    <div class="footer_list">
        <ul>
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">网站帮助</a></li>
            <li><a href="">版权信息</a></li>
            <li><a href="">广告业务</a></li>
            <li><a href="">图书目录</a></li>
        </ul>
    </div>
    <p>Copyright©  书来熟往  2002-2016 , All  Rights  Reserved  京ICP证041501号  海淀分局备案编号 1101082227</p>
</div>
