
<div>
    <div class="gongnenglan">
        <!--<div class="pinglun"><span class="glyphicon glyphicon-comment">评论</span></div>-->
        <div class="dianzan"><span class="glyphicon glyphicon-thumbs-up">点赞</span></div>
        <div class="fenxiang"><span class="glyphicon glyphicon-share">分享</span></div>
        <div class="shoucang"><span class="glyphicon glyphicon-heart">收藏</span></div>
    </div>
    <div id="div1" style="width:200px; margin-left: 210px;display: none">
        <img src="../img/images/img/转发.jpg" style="height: 20px">
    </div>
    <div  class="zan" id="zantouxiang1"><span class="glyphicon glyphicon-thumbs-up"></span></div>

    <div id="returnsend" >回复内容</div>
    <div style="margin-top: 1.5em;	">
        <input type="text" id="tab1_pinglun1" name="huifu" class="content-grid-head col-md-8 content-main c1 plk">
        <div style="width: 5em ;background-color: #FFC600;height: 2.2em;
										 display: inline-block;vertical-align: middle;
										 text-align: center;padding-top: 0.3em" id="send"
          onclick="huifu()" >发表回复</div>

    </div>

</div>
