<div class="col-md-4 content-main-right c1">
    <div class="search">
        <h3>搜索帖子</h3>
        <form action="">
            <!--<input type="text" value="" onfocus="this.value=''" onblur="this.value=''">-->
            <input type="text" value="" id="sousuot">
            <input type="button" value="搜索" id="sousuo" style="width: 3em ;background-color: #FFC600;height: 2em;
										 text-align: center;padding-top: 0.3em">
        </form>
    </div>
    <div class="categories">
        <h3>热搜</h3>
        <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
        <li><a href="#">Vestibulum commodo felis quis tort</a></li>
        <li><a href="#">Fusce pellentesque suscipit</a></li>
    </div>
    <div class="archives">
        <h3>精品贴</h3>
        <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
        <li><a href="#">Donec quis dui at dolor tempor</a></li>
        <li><a href="#">Donec quis dui at dolor tempor</a></li>
    </div>
</div>
<div class="col-md-4 content-main-right c2">
    <div class="search">
        <h3>搜索书籍</h3>
        <form>
            <input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
            <input type="submit" value="">
        </form>
    </div>
    <div class="categories">
        <h3>热搜</h3>
        <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
        <li><a href="#">Vestibulum commodo felis quis tort</a></li>
        <li><a href="#">Fusce pellentesque suscipit</a></li>
    </div>
    <div class="archives">
        <a class="btn btn-primary" role="button" data-toggle="collapse"
           href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample"
           style="background-color: orange;margin-left: 55px;width: 200px">
            小惊喜
        </a>
        <div class="collapse" id="collapseExample1">
            <div class="well">
                我们每周会选出最受关注的书籍，赠送写手100元购书卷！！
                并且会从要看的人中抽出2位赠送本书！~
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 content-main-right c3">
    <div class="categories">
        <a class="btn btn-primary" role="button" data-toggle="collapse"
           href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
           style="background-color: orange;margin-left: 55px;width: 200px">
            小提示
        </a>
        <div class="collapse" id="collapseExample">
            <div class="well">
                这个版块是也不知道是怎么出现的，我们没有用户信息，也不知道谁来管理，
                所以我们在这里相互都是陌生人。
                他是一个未知的存在，所以如果想的话，说出你的心声吧！
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>