

<!---->

<script>
    $("span.menu").click(function(){
        $(".top-menu ul").slideToggle("slow" , function(){
        });
    });
</script>




<!--论坛切换页面	-->
<!--</div>-->
<div class="container">
    <div class="banner-head">
        <h1>畅言校园</h1>
        <h2>speak out freely</h2>
    </div>
    <div class="banner-links" style="margin-top: 105px">
        <ul>
            <li  ><a href="http://localhost:3000/luntan" title=""  class="active" id="tab1">自由角</a></li>
            <li ><a href="#" title="" class="active" id="tab2">书籍分享</a></li>
            <li > <a href="#" title="" class="active" id="tab3">我是谁</a></li>
        </ul>
        <div class="clearfix"></div>
        </div>
    </div>
