<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Blogname a Blogging Category Flat Bootstarp  Responsive Web Template | Home :: w3layouts</title>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/common/common.css"/>
	<link href="css/yangshi.css" rel='stylesheet' type='text/css' />

	<link rel="stylesheet" href="js/static/lunbo/style.css"/>
	<link rel="stylesheet" href="css/xuancard.css"/>
	<link rel="stylesheet" href="fontAwesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../jquery-ui-1.11.4.custom/jquery-ui.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
	/>

	<script src="js/jquery-2.2.2.js"></script>

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
		<!--end slider -->
		<!--script-->
	<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<script src="jquery-ui-1.11.4.custom/bootstrap.js"></script>


<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>



<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->

	<style>
		.touxiang{
			margin: auto;
			margin-left: 110px;

		}
		#touxiang{
			width: 50px;
			height: 50px;
			border-radius:50px;
			border:solid rgb(100,100,100) 0px;

			margin-left: 18px;
		}
	</style>

</head>
<body>
<!---strat-banner---->
<div class="banner">
	<% include ../pc/header.ejs %>



	 <div class="container">
		 <% include ../pc/right_nav.ejs %>
		 <div class="banner-head">
			 <h1>畅言校园</h1>
			 <h2>speak out freely</h2>
		 </div>

	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h1 style="font-weight:400;font-size: 20px">如果让你在沙漠独自生活7天</h1>
						 <h4>July 24, 2014,Posted by: <a href="#">Admin</a></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="content-grid-single">

						 <p>沙漠这一片荒芜的地区，你在这里最大的难点就是这么几个；比较难找到木头制作篝火，没有泥土来种地，几乎没有粘土资源，大部分地区没有石头
							 但是最大的优点也是无可比拟的；沙漠里的各种植物让你没有资源也能轻松生存（后面给大家讲解如何无资源生存），沙漠里的沙子是唯一的玻璃和瓶子的制作来源，兔子貌似是最肥的，而且鬼城听说不错（没敢去）
							 好，我们现在出生在沙漠里，第一步应该干啥呢？（主机肯定拿走了出生点的资源）看没看到遍地的长成一个小球的仙人掌？去打，打爆后有可能获得1~2个的.......黄瓜？算了不深究。
							 大概打上10来个就差不多了，打得时候顺便去拿植物，枯草和芦荟有多少拿多少，就跟不要钱一样（貌似本来就不要钱），我们算最低效率，一天30分钟就拿了8个黄瓜，3个枯草，3个芦荟（这你都达不到你就再去看几年天线宝宝去吧），然后挖沙子，天黑前挖到2个就够了，然后去打灌木去拿几个木棍。
							 第一天你就干这些就成了，8个黄瓜大概够你晚上吃的。
							 第二天，我们就洗劫一下垃圾场，（注意；在沙漠什么吃的都没找到的话就每天必须挖10个黄瓜），拿什么洗劫呢？当然是..........
							 尖锐的木棒
							 如果你的水平不足以和僵尸玩过家家还敲诈完垃圾场.....那你就跟没看这一条一样
							 好吧，第二天，我们先去把黄瓜拿够了，然后狂奔去废墟找石头，越多越好，顺便砍一些木头，但是14点前必须回来，然后回到家里，造一个锻造炉，造一堆弩箭，然后吃点东西出去转转，看看能不能干掉几个兔子，没打到的话就去搜集沙子，枯草和芦荟，还是第一天的效率就成了，然后晚上继续吃黄瓜。
							 （注意；我说的家是指你造完弩箭后必须去找到一个房子占领，是否远离其他玩家无所谓）
							 第三天
							 这一天应该去干一些大事业了，估计沙漠已经被搜刮完了，你也应该迁出沙漠了，临走前，你要干一些事情；去杀僵尸获得废铁（我相信你应该在前两天找到一些了，不过还是最坏效率打算）然后锻造至少2个铁，然后制作玻璃瓶，把采集的枯草和芦荟按照1；1的分配方法丢到32个瓶子里，16个就是全能的草本饮料，16个补少量血的芦荟膏，然后去小营地，有帐篷的那个（根据我的考察，没有一个人去拆帐篷）拆了帐篷，拿到布条，合成绷带，走人</p>

						 	<img class="single-pic" src="../images/c1.jpg" alt=""/>
						  <div class="content-form">
							 <h3>回复</h3>
							 <form>
							 <textarea placeholder="Message"></textarea>
							 <input type="submit" value="回复"/>
							 </form>
						 </div>
						 <div class="comments">
							 <h3>回复</h3>
							 <div class="comment-grid">
								 <img src="images/pic.png" alt=""/>
								 <div class="comment-info">
								 <h4>小帅</h4>
									 <P>写的不错</P>
								 <h5>On April 14, 2014, 18:01</h5>
								 <a href="#">回复</a>
								 </div>
								 <div class="clearfix"></div>
							 </div>
							 
							 <div class="comment-grid">
								 <img src="images/pic.png" alt=""/>
								 <div class="comment-info">
								 <h4>小美</h4>
									 <P>楼主求勾搭</P>
									 <h5>On April 14, 2014, 18:01</h5>
								 <a href="#">回复</a>
								 </div>
								 <div class="clearfix"></div>
							 </div>	
							 <div class="pages">
									<ul>
									 <li class="active"><a href="#">1</a></li>
									 <li><a href="#">2</a></li>
									 <li><a href="#">3</a></li>
									 <li><a href="#">4</a></li>
									 <li><a href="#">5</a></li>
									 <li><a href="#">6</a></li>
									 <li><a href="#">上一页</a></li>
									 <li><a href="#">下一页</a></li>
									</ul>
							 </div>	
						</div>
					  </div>
					 
				 </div>			 			 
			 </div>

			 <div class="col-md-4 content-main-right c1">
				 <!--<div class="search">-->
					 <!--<h3>搜索帖子</h3>-->
					 <!--<form>-->
						 <!--<input type="text" value="" onfocus="this.value=''" onblur="this.value=''">-->
						 <!--<input type="submit" value="">-->
					 <!--</form>-->
				 <!--</div>-->
				 <div class="categories">
				 <!--<li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>-->
				 <!--<li><a href="#">Vestibulum commodo felis quis tort</a></li>-->
				 <!--<li><a href="#">Fusce pellentesque suscipit</a></li>-->
					 <a href="#" class="touxiang"><img src="../pic/头像2.jpg" id="touxiang"></a>
					 <div style="margin-left: 140px">
						 <a href="#" style="color: #000000"><p>AAA</p></a>
					 </div>
					 <p  style="margin-left: 65px"> 郑 州 航 空 工 业 管 理 学 院</p>
					 <div style="margin-left: 130px;margin-top: 30px">个人简介</div>
					 <li class="active"><a href="#" style="margin-left: 97px">一个很苦逼的程序员</a></li>
				 </div>
				 <!--<div class="archives">-->
					 <!--<h3>精品贴</h3>-->
					 <!--<li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>-->
					 <!--<li><a href="#">Donec quis dui at dolor tempor</a></li>-->
					 <!--<li><a href="#">Donec quis dui at dolor tempor</a></li>-->
				 <!--</div>-->


			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
<% include ../pc/footer.ejs %>
<!--<script type="text/javascript">-->
		<!--$(document).ready(function() {-->
				<!--/*-->
				<!--var defaults = {-->
				<!--containerID: 'toTop', // fading element id-->
				<!--containerHoverID: 'toTopHover', // fading element hover id-->
				<!--scrollSpeed: 1200,-->
				<!--easingType: 'linear' -->
				<!--};-->
				<!--*/-->
		<!--$().UItoTop({ easingType: 'easeOutQuart' });-->
<!--});-->
<!--</script>-->
<!--<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->


</body>
</html>